@using CooperativaAgroCreativa.Data
@using CooperativaAgroCreativa.Models.DB
@model IEnumerable<Product>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1 class="text-center">Orden de pedido realizada con éxito</h1>
    <div class="my-4 mx-3">
        <p><b>Fecha y hora de compra:</b> @Context.Items["Hour"]</p>
        <p><b>Id de compra:</b> @Context.Items["Id"]</p>
        <p><b>Correo:</b> @Context.Items["Mail"]</p>
        <p><b>Celular:</b> @Context.Items["Phone"]</p>
    </div>
    <table class="table my-tableResponsive table-bordered"  style="text-align: right;">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Talla</th>
            <th scope="col">Cantidad agregada</th>
            <th scope="col">Precio unidad</th>
            <th scope="col">Precio total por producto</th>
          </tr>
        </thead>
        <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td> @producto.Id </td>
                <td> @producto.Description </td>
                <td> @producto.Quantity </td>
                <td> ¢@producto.UnityPrice </td>
                <td> ¢@(Int32.Parse(producto.UnityPrice) * producto.Quantity) </td>
            </tr>
        }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"><h3>Cantidad a pagar:</h3></td>
                <td class="text-center"><h3>¢@Context.Items["TotalPrice"]</h3></td>
            </tr>
        </tfoot>
        </table>

        <img style="margin: 3rem 15rem; width: 25rem;" src="~/assets/images/logo-coopeagro.png"/>
</body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</html>